@model StoreFront.DATA.EF.MovieTVWriter

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2>Details</h2>

    <div>
        <h4>MovieTVWriter</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MoviesTV.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MoviesTV.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Writer.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Writer.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WriterOrder)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WriterOrder)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MovieTVWriterID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
