@model IEnumerable<StoreFront.DATA.EF.MovieTVWriter>

@{
    ViewBag.Title = "Movie/TV Writer Index";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table data-table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MoviesTV.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Writer.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WriterOrder)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoviesTV.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Writer.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WriterOrder)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MovieTVWriterID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MovieTVWriterID })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".data-table").DataTable({
                "order": [[0, "asc"]]
                });
        });
    </script>
}