@*@model IEnumerable<StoreFront.DATA.EF.MoviesTV>*@
@model PagedList.IPagedList<StoreFront.DATA.EF.MoviesTV>
@using PagedList.Mvc
@using StoreFront.UI.MVC.Models

@{
    ViewBag.Title = "Movies/TV";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-9">
                <ul class="breadcrumb-tree">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="active">@ViewBag.Title</li>
                </ul>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="col-md-3 text-right">
                    <a href="@Url.Action("Create")"><i class="fa fa-film"></i> Add New Movie/TV Show</a>
                </div>
            }
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Formats</h3>
                    <div class="checkbox-filter">
                        @foreach (StoreFront.DATA.EF.DiscType item in ViewBag.Formats)
                        {
                            <div class="input-checkbox">
                                <input type="checkbox" id="category-@item.DiscTypeID">
                                <label for="category-@item.DiscTypeID">
                                    <span></span>
                                    @item.DiscTypeDescription
                                    <small>(@item.MoviesTVs.Count)</small>
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Price</h3>
                    <div class="price-filter">
                        <div id="price-slider"></div>
                        <div class="input-number price-min">
                            <input id="price-min" type="number">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                        <span>-</span>
                        <div class="input-number price-max">
                            <input id="price-max" type="number">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Genres</h3>
                    <div class="checkbox-filter">
                        @foreach (StoreFront.DATA.EF.Genre item in ViewBag.Genres)
                        {
                            <div class="input-checkbox">
                                <input type="checkbox" id="brand-@item.GenreID">
                                <label for="brand-@item.GenreID">
                                    <span></span>
                                    @item.GenreName
                                    <small>(@item.MoviesTVs.Count)</small>
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        @using (Html.BeginForm("Index", "MoviesTV", FormMethod.Get, new { id = "pageSizeForm" }))
                        {
                            <label>Sort By: @Html.DropDownList("movieTVSort")</label>
                            <label>Show: @Html.DropDownList("pageSize")</label>
                        }
                    </div>
                    <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul>
                </div>
                <!-- /store top filter -->
                <!-- store products -->
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <!-- product -->
                        <div class="col-md-4 col-xs-6">
                            <div class="product">
                                <div class="product-img">
                                    <a href="@Url.Action("Details", new { id = item.MovieTVID })">
                                        <img src="~/Content/img/MoviesTV/@item.TitleImage" alt="Title Cover" title="@item.Title">
                                    </a>
                                    <div class="product-label">
                                        @if (item.IsSiteFeature == true)
                                        {
                                            <span class="new">NEW</span>
                                        }
                                        @if (item.IsOnSaleFeature == true)
                                        {
                                            <span class="sale">-20%</span>
                                        }
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category">@Html.DisplayFor(modelItem => item.DiscType.DiscTypeDescription)</p>
                                    <h3 class="product-name"><a href="@Url.Action("Details", new { id = item.MovieTVID })">@Html.DisplayFor(modelItem => item.Title)</a></h3>
                                    <h4 class="product-price">
                                        @Html.DisplayFor(modelItem => item.SalePrice) @if (item.IsOnSaleFeature == true)
                                        {<del class="product-old-price">@Html.DisplayFor(modelItem => item.Price)</del>}
                                    </h4>
                                    @*<div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>*@
                                    @if (User.IsInRole("Admin"))
	                                {
                                        <ul class="product-btns">
                                            <li><a href="@Url.Action("Edit", new { id = item.MovieTVID })"><i class="fa fa-edit"></i><span class="tooltipp">edit</span></a></li>
                                            <li><a href="@Url.Action("Delete", new { id = item.MovieTVID })"><i class="fa fa-trash"></i><span class="tooltipp">delete</span></a></li>
                                            @*<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>*@
                                    </ul>
	                                }   
                                </div>
                                @using (Html.BeginForm("AddToCart", "MoviesTV", new { @movieTVID = item.MovieTVID }, FormMethod.Post))
                                {
                                    @Html.HiddenFor(x => item.MovieTVID)
                                    <div class="add-to-cart">
                                        @Html.Hidden("Qty", 1)
                                        <button type="submit" class="add-to-cart-btn" name="qty"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- /product -->
                        <div class="clearfix visible-sm visible-xs"></div>
                    }
                </div>
                <!-- /store products -->
                <!-- store bottom filter -->
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, movieTVSort = ViewBag.movieTVSort, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.psize }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                <div class="store-filter clearfix">
                    <span class="store-qty">Showing products @Model.FirstItemOnPage - @Model.LastItemOnPage of @Model.TotalItemCount</span>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

@section scripts{
    <script>
        $(function () {
            $("#pageSize").change(function () {
                $("#pageSizeForm").submit();
            });
        });
        $(function () {
            $("#movieTVSort").change(function () {
                $("#pageSizeForm").submit();
            });
        });
    </script>
}
